# Visualizing the United States' Age Demographics

This project takes age demographics by city (scraped from city-data.com) and makes Google Places API calls on each city

In [1]:
# Import dependencies 
import pickle, requests
import pandas as pd
from config import g_key
import gmaps
gmaps.configure(api_key=g_key)

In [2]:
df = pd.read_csv('../Data/places.csv')

locations = df[['Lat', 'Lng']]
ages = df['Median Age']

fig = gmaps.figure()

layer = gmaps.heatmap_layer(locations, weights = df['Median Age'])
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

I couldn't figure out how to save the gmaps figure into the notebook, so I just saved a png

Refer to map.png in the project directory

In [6]:
df

      Unnamed: 0                 Place        Lat         Lng  Median Age
0              0      Anchorage-Alaska  61.108864 -149.440311        34.0
1              1         Badger-Alaska  64.805806 -147.410267        32.0
2              2         Bethel-Alaska  60.790794 -161.793728        30.0
3              3        College-Alaska  64.866742 -147.824311        29.4
4              4      Fairbanks-Alaska  64.828364 -147.669003        27.7
...          ...                   ...        ...         ...         ...
6770        6770      Riverton-Wyoming  43.043195 -108.417530        36.2
6771        6771  Rock-Springs-Wyoming  41.603953 -109.166595        32.8
6772        6772      Sheridan-Wyoming  44.789518 -106.968179        39.1
6773        6773    Torrington-Wyoming  42.063466 -104.179067        37.5
6774        6774    Wind-River-Wyoming  43.581067 -108.212321        35.0

[6775 rows x 5 columns]